
.col{
    border-radius: 5px;
    text-align: center;
    margin: 30px 10px;
    border: 1px solid #dbd7d9;
    padding: 0px;
}
.anh{
    overflow: hidden;
    display: inline-block;
}
.anh img{
    transition: 0.8s;
}
.anh:hover img{
    transform: scale(1.2, 1.2);
}
.giaban{
    display: block;
    float:left;
    text-align: center;
    padding: 7px 0px 5px 10px;
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    color: #ff2600;
}
.btn{
    border: 0px;
    margin: 5px;
    background-color: rgb(255, 174, 0);
}
.btn-cart:hover{
    background-color: #ff2600;

}